<script>
  import "../app.css";
  import Navbar from "../lib/components/Navbar.svelte";
  import { toast } from "../lib/service/Toast";
  import { modal } from "../lib/service/Modal";
  import { fly, fade } from "svelte/transition";

  // Listen for the custom 'openModal' event
  const openModalHandler = () => {
    const dialog = document.getElementById("my_modal_1");
    if (dialog) {
      dialog.showModal();
    }
  };

  // Subscribe to the modal service to listen for state changes
  modal.subscribe((state) => {
    if (state.isOpen) {
      openModalHandler();
    }
  });
</script>

<Navbar />

<!-- Modals -->
<dialog id="my_modal_1" class="modal">
  <form method="dialog" class="modal-box">
    <h3 class="font-bold text-lg">{$modal.title}</h3>
    <p class="py-4">{$modal.message}</p>
    <div class="modal-action">
      <button class="btn" on:click={() => modal.closeModal()}>Close</button>
    </div>
  </form>
</dialog>

<!-- Toast messages -->
<div class="fixed bottom-0 right-0 space-y-2 p-6" style="z-index: 50;">
  {#each $toast as { id, message, type } (id)}
    <div class="toast toast-end" in:fly={{ y: 100, duration: 500 }} out:fade={{ duration: 500 }}>
      <div class={`alert alert-${type}`}>
        <span>{message}</span>
      </div>
    </div>
  {/each}
</div>

<!-- Page content -->
<slot />
