<script>
  import { goto } from "$app/navigation";
  import { urlStore } from "../lib/stores.js";
  import { validUrl } from "../lib/utils/validUrl";
  import { toast } from "../lib/service/Toast";
  let url = "";

  function handleButtonClick() {
    if (url) {
      if (!validUrl(url)) {
        toast.add("Invalid URL", "error");
        return;
      }
      urlStore.set(url); // set the URL in the store
      goto("/quiz");
    }
  }
</script>

<div class="flex items-center justify-center h-screen">
  <div class="w-1/2">
    <input type="text" class="input input-bordered w-full" bind:value={url} placeholder="Enter Article URL" />
    <button class="btn btn-primary mt-4" on:click={handleButtonClick}>Go</button>
  </div>
</div>
