<script>
  import { onMount } from "svelte";
  import { goto } from "$app/navigation";
  import { urlStore } from "../../lib/stores.js";
  import Quiz from "../../lib/components/Quiz.svelte";
  import Article from "../../lib/components/Article.svelte";

  let url;
  let loading = true;
  let article = "";
  let questions = [];

  onMount(() => {
    const unsubscribe = urlStore.subscribe((value) => {
      url = value;
      if (!url) {
        goto("/");
      }
    });

    // fetch the quiz data
    fetch(`http://localhost:3000/quiz?url=${url}`)
      .then((x) => x.json())
      .then((y) => {
        article = y.article;
        questions = y.quiz;
        loading = false;
      });

    return unsubscribe;
  });
</script>

{#if loading}
  <span class="loading loading-spinner loading-lg" />
{:else}
  <div class="flex flex-col lg:flex-row content">
    <div class="w-full lg:w-3/4 p-4 scrollable">
      <Article {article} />
    </div>

    <div class="w-full lg:w-1/4 p-4 scrollable">
      <Quiz {questions} />
    </div>
  </div>
{/if}

<style>
  .content {
    height: calc(100vh - 8rem);
  }

  .scrollable {
    overflow-y: auto;
    height: 100%;
  }
</style>
