@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-size: 1.2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  padding: 5px;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

h5 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
}

h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.7;
  text-align: center;
}
