<script>
  export let article = "";
</script>

<div class="w-full h-full">
  <div class="card">
    <div class="card-body">
      <div class="text-red-800" />
      {@html article}
    </div>
  </div>
</div>
