<div class="navbar bg-base-100">
  <div class="navbar-start" />
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl" href="/">Quiz Me</a>
  </div>
  <!-- <div class="navbar-end">

    </div> -->
</div>
