<script>
  import { modal } from "../service/Modal";

  export let questions = [];

  let selectedAnswers = new Array(questions.length).fill(null);
  let isGraded = false;

  const selectAnswer = (questionIndex, answerIndex) => {
    if (!isGraded) {
      selectedAnswers[questionIndex] = answerIndex;
    }
  };

  const gradeQuiz = () => {
    if (selectedAnswers.every((answer) => answer !== null)) {
      let score = 0;
      for (let i = 0; i < questions.length; i++) {
        if (selectedAnswers[i] === questions[i].a) {
          score++;
        }
      }

      // Display the grade using the modal service
      modal.openModal("Grade Report", `Your grade: ${score}/${questions.length}`);

      isGraded = true;
    } else {
      console.log("Please answer all questions before grading.");
    }
  };
</script>

<div class="w-full h-full space-y-4 quiz-container">
  <div class="scrollable space-y-4">
    {#each questions as { q: question, o: options, a: answer }, i}
      <div class="card question">
        <div class="flex items-center">
          <h2
            class={`text-4xl font-semibold mr-4 ${
              isGraded && selectedAnswers[i] === answer
                ? "text-green-500"
                : isGraded && selectedAnswers[i] !== answer
                ? "text-red-500"
                : "text-gray-300"
            }`}
          >
            {i + 1}.
          </h2>
          <h2 class="text-2xl">{question}</h2>
        </div>
        <div class="space-y-2 mt-4">
          {#each options as option, j}
            <label class="block items-center text-lg">
              <input
                type="radio"
                name={`question${i}`}
                class={`radio ${
                  isGraded && selectedAnswers[i] === j && j === answer
                    ? "radio-success"
                    : isGraded && selectedAnswers[i] === j && j !== answer
                    ? "radio-error"
                    : "radio-primary"
                }`}
                bind:group={selectedAnswers[i]}
                value={j}
                disabled={isGraded}
                on:change={() => selectAnswer(i, j)}
              />
              <span class="ml-2">{String.fromCharCode(65 + j)}. {option}</span>
            </label>
          {/each}
        </div>
      </div>
      {#if i < questions.length - 1}
        <hr class="my-4" />
      {/if}
    {/each}
  </div>
  <div class="flex justify-center mt-6">
    <button class="btn btn-primary" on:click={() => gradeQuiz()} disabled={isGraded}>SUBMIT</button>
  </div>
</div>
